.Home .item:nth-child(1) .fixed {
    box-shadow: 0px 3px 3px #cecece;
}

@media screen and (min-width: 1010px) and (min-height: 710px) {
    .Home .item:nth-child(1) {
        position: relative;
    }

    .Home .item:nth-child(1) .fixed {
        position: fixed;
        background-color: #fafafa;
        bottom: 0;
        top: 0;
        right: 0;
        left: 350px;
        box-shadow: -3px 0px 3px #cecece;
    }

    .Home .item:nth-child(2) {
        width: 350px;
    }
}