.App {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .03em;
}

.App small {
  font-weight: 300;
  font-size: .8em;
}

.App strong {
  font-weight: 400;
  font-size: 1em;
}

.App p {
  font-weight: 300;
  font-size: 1em;
}